:root {
    font-size: small;
    font-family: 'Poppins';
}

body {
    background-color: rgba(53, 113, 70, 1);
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.container {
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
}

span {
    color: rgba(193, 230, 193, 1);
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}

header {
    color: rgba(193, 230, 193, 1);
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
    padding-bottom: 20px;
}

.input-field .input {
    height: 45px;
    width: 87%;
    border: none;
    border-radius: 30px;
    color: rgba(193, 230, 193, 1);
    font-size: 15px;
    padding: 0 0 0 45px;
    background: rgba(3, 1, 1, 0.1);
    outline: none;
}

i {
    position: relative;
    top: -33px;
    left: 17px;
    color: rgba(193, 230, 193, 1);
}

::-webkit-input-placeholder {
    color: rgba(193, 230, 193, 1);
}

.submit {
    border: none;
    border-radius: 30px;
    font-size: 15px;
    font-weight: b;
    height: 45px;
    outline: none;
    width: 100%;
    color: rgba(53, 113, 70, 1);
    background: rgba(193, 230, 193, 1);
    cursor: pointer;
    transition: .3s;
}

.submit:hover {
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}